html {
  background: #1d1f21
}

h1, h2, h3, p {
  font-family: Helvetica;
  line-height: 14px;
}

.user-post-view img {
  max-width: 100%;
  border-radius: 10px;
}

.warning {
  color: rgb(255, 255, 102);
}

.user-post-view h1, 
.user-post-view h2, 
.user-post-view h3, 
.user-post-view p {
  line-height: normal;
}

.main {
  justify-content: center;
}

.link-reset {
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  min-height: 19px;
  font-family: Helvetica;
  font-weight: bold;
}

.header-item {
  padding-left: 5px;
  padding-right: 5px;
}

.importer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-input {
  margin-bottom: 5px;
}

.importer-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-color: #111;
  border-radius: 5px;
  font-family: Helvetica;
  min-height: 32px;
  text-align-last: center;
}

.importer-select:focus {
  outline: none;
}

.importer-input {
  border-radius: 5px;
  min-height: 32px;
  background-color: #282a2e;
  text-align: center;
  color: #fff;
  font-family: Helvetica;
  font-size: 24px;
  border: 0;
}

.importer-input:focus {
  outline: none;
}

.footer {
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  color: #fff;
}

.footer p {
  margin: 0;
}

.embed-view {
  border-radius: 10px;
  border: 1px solid #111;
  margin-top: 5px;
  padding: 5px;
}

.embed-view h3 {
  line-height: 0.5em;
}

.martha-view {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.user-header-view {
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.user-header-avatar {
  border-radius: 10px;
  background-size: 100% auto;
  background-position: center;
  height: 100px; 
  width: 100px;
}

.user-header-info {
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0,0,0,.7);
  color: #fff;
}

.user-header-info-top {
  display: flex;
}

.user-header-info-patreon {
  background-image: url(/patreon.svg);
  margin-top: 15px;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-size: 25px;
}

.user-header-info-fanbox {
  background-image: url(/fanbox.svg);
  margin-top: 15px;
  margin-left: 10px;
  width: 50px;
  height: 35px;
  background-size: 50px;
  background-repeat: no-repeat;
}

.user-post-view {
  margin-top: 5px;
  min-height:0;
  padding: 5px;
  background-color: #282a2e;
  border: 1px solid #111;
  border-radius: 10px;
  justify-content: center;
  color: #fff;
  font-family: Helvetica;
}

.load-more-button {
  padding: 10px;
  margin-top: 3px;
  background-color: #282a2e;
  border: 1px solid #111;
  border-radius: 10px;
  color: #fff;
  font-family: Helvetica;
}

.user-post-view p {
  line-height: 20px;
}

.user-post-view a {
  text-decoration: underline;
  color: #81A2BE;
}

.user-post-image {
  max-width: 100%;
  border-radius: 10px;
}

.recent-view {
  width: 100%;
  margin: 0 auto;
  min-height:0;
  padding-left: 0;
  padding-right: 0;
  background-color: #282a2e;
  border: 1px solid #111;
  justify-content: center;
  color: #fff;
}

.recent-row-container {
  display: flex;
}

.recent-row p {
  margin: 0;
  margin-top: 2.5px;
  margin-left: 6px;
  font-size: 16px;
}

.recent-row {
  align-items: center;
  border-bottom: 1px solid #111; 
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
  min-height: 0.5px;
}

.avatar {
  border-radius: 4px;
  background-size: 100% auto;
  background-position: center;
  height: 32px; 
  width: 32px;
}